@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
}

body {
  margin: 0;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.middleContent{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.navbar h1 {
  font-size: 2rem;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}
.navbar a:hover {
  color: #f1356d;
}

#srch{
  margin-left: auto;
}

.task-preview {
  padding: 10px 16px;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #fafafa;
}

.task-preview a{
  text-decoration: none;
}

.task-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.task-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.pending{
  margin: 0 auto;
  max-width: 600px;
}

.addTask{
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
}

label{
  margin-right: 5px;
  font-weight: bold;
  font-size: 20px;
}

input[type=text]{
  height: 20px;
  font-size: 20px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=submit]{
  display: block;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
}

textarea{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addForm{
  margin-top: 20px;
}

.edit-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.edit-form label{
  margin-top: 10%;
  text-align: left;
  display: block;
}

.edit-form input{
  width: 70%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.edit-form button{
  background: #f1356d;
  color: #fff;
  border: 0;
  margin-left:-70px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}